.container{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.app {
  text-align: center;
  background-color: #1a1a40;
  width: 30%;
  min-height: 300px;
  position: absolute;
  top: 15%;
  border-radius: 10px;
}
.title{
  color: white;
}
.inp-todo{
  background-color: #1a1a40;
  border: 1px solid #8758ff;
  height: 30px;
  width: 60%;
  padding-left: 20px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 30px;
}
.inp-todo:focus{
  outline: none;
}
.submit-btn{
  background-color: #8758ff;
  border: none;
  color: white;
  height: 34px;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}
.list-todo{
  padding-bottom: 30px;
}
.single-todo{
  display: inline-block;
  padding: 10px;
  background-color: #8758ff;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  min-width: 55%;
}
.todo-text{
  margin: 0;
  float: left;
}
.delete-btn, .edit-btn{
  background-color: #8758ff;
  border: none;
  position: relative;
  height: 41px;
  top: -13px;
  color: white;
  padding-right: 15px;
  font-size: 20px;
  cursor: pointer;
  line-height: 41px;
}
.delete-btn{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.edit-inp input{ 
  background-color: #1a1a40;
  border: 1px solid #8758ff;
  height: 30px;
  width: 60%;
  padding-left: 20px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 30px;

}
.edit-inp input:focus {
  outline: none;
}
.change-btn{
  background-color: #8758ff;
  border: none;
  color: white;
  height: 34px;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}
/* responsive */

/* for mobile */
@media (min-width: 280px) and (max-width: 480px) {
  .app {
      width: 100%;
  }
}
/* end for mobile */

/* for tablet */
@media (min-width: 480px) and (max-width: 768px){
  .app {
    width: 70%;
  }
}
/* end for tablet */

/* for small  screen*/
@media (min-width: 768px) and (max-width: 1024px){
  .app{
    width: 70%;
  }
}
/* end */